
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Plant</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Clientsite/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/Clientsite/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="~/Clientsite/img/core-img/leaf.png" alt="">
        </div>
    </div>

    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    @{
                                        var user= ViewContext.HttpContext.Session.GetString("id");

                                    }
                                   
                                    @if (user!=null)
                                                                           
                                    {

                                       
                                        <span onclick="myFunction()">@ViewBag.UserName</span>

                                        <select id="myDropdown" onchange="setOrderId(this.value)" style="display:none;">
                                            <option>ShowOrders---</option>

                                            @if (ViewBag.ordershow != null)
                                            {
                                                foreach (var item in ViewBag.ordershow)
                                                {
                                                    <option value="@item.OrderId" name="orderid">@item.Status</option>
                                                                                              
                                                }
                                                
                                            }
                                        </select>

                                    }
                                   
                                    
                                </a>
                            </div>

                                 <div class="top-header-meta d-flex">
                                    @if(user == null)
                                {

                                    <!-- Login -->
                                    <div class="login">
                                        <a href="@Url.Action("CustLogin","Client")"><i class="fa fa-user" aria-hidden="true"></i> <span>Login</span></a>
                                        <a href="@Url.Action("Customer","Client")"><i class="fa fa-user" aria-hidden="true"></i> <span>Signin</span></a>

                                    </div>
                                }
                                else
                                {
                                  <div class="login">
                                    <form method="post" asp-action="LogOut" asp-controller="Client">
                                        <button type="submit" class="btn btn-link">
                                        <i class="fa fa-user" style="color:#76c376;font-size:12px;" aria-hidden="true"></i><span class=" text-white" style="font-size:12px; font-weight:400px;line-height:1;display:inline-block;">LogOut</span>
                                        </button>
                                    </form>
                                  </div>

                                }
                                <!-- Cart -->
                                    <div class="cart">
                                        <a href="@Url.Action("CheckOut","Client")"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Cart <span class="cart-quantity">@ViewBag.count</span></span></a>
                                    </div>
                                </div>            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="index.html" class="nav-brand"><img src="~/Clientsite/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="@Url.Action("Home","Client")">Home</a></li>
                                    <li><a href="@Url.Action("Category","Client")">New</a></li>
                                    <li><a href="@Url.Action("Contact","Client")">Contact</a></li>
                                </ul>

                                <!-- Search Icon -->
                                <div id="searchIcon">
                                    <i class="fa fa-search" aria-hidden="true" name="term"></i>
                                </div>

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()

    <footer class="footer-area bg-img" style="background-image: url(img/bg-img/3.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="footer-logo mb-30">
                                <a href="#"><img src="~/Clientsite/img/core-img/logo.png" alt=""></a>
                            </div>
                            <p>Lorem ipsum dolor sit samet, consectetur adipiscing elit. India situs atione mantor</p>
                            <div class="social-info">
                                <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://www.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>QUICK LINK</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <form asp-action="OrderCancelledEmailAdmin" asp-controller="Product" method="post">
                                        <input type="hidden" id="selectedOrderId" name="orderid"/>
                                        <button type="submit" class="btn btn-link">
                                         <li style="display:inline-block;color:darkgray">Return</li>
                                          </button>
                          
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Orders</a></li>
                                    </form>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>BEST SELLER</h5>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="~/Clientsite/img/bg-img/4.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="shop-details.html">Cactus Flower</a>
                                    <p>$10.99</p>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="~/Clientsite/img/bg-img/5.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="shop-details.html">Tulip Flower</a>
                                    <p>$11.99</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p><span>Address:</span> 505 Silk Rd, New York</p>
                                <p><span>Phone:</span> +1 234 122 122</p>
                                <p><span>Email:</span> info.deercreative@gmail.com</p>
                                <p><span>Open hours:</span> Mon - Sun: 8 AM to 9 PM</p>
                                <p><span>Happy hours:</span> Sat: 2 PM to 4 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p>
                                &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <!-- Footer Nav -->
                    
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Clientsite/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Clientsite/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Clientsite/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/Clientsite/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Clientsite/js/active.js"></script>

   

</body>
    <script>

        function setOrderId(orderId) {
            document.getElementById('selectedOrderId').value = orderId;
        }

        function myFunction() {
            var dropdown = document.getElementById("myDropdown");
            if (dropdown.style.display === "none" || dropdown.style.display === "") {
                dropdown.style.display = "block";
            } else {
                dropdown.style.display = "none";
            }
        }
    </script>
</html>
